/**
 * fil: css/style.css
 **/
#logo {
    margin-left: 85px;
    margin-top: -15px;
    
}

h1 {
    margin-top: 4%;
    text-align: center;
    color: white;
    font-family: courier;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


body {
    background-image: url(../images/kaffekop.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding:0;
    margin:0;
}

nav{
    height: 60px;
    background-color: white;
    padding-top: 10px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    opacity: 75%;
    
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;

        
}

nav ul li a{
    margin-right: 50px;
    text-decoration: none;
    color: black;    
}


a:hover{
    color: burlywood
}


#kaffeknap{
        width: 25%;
        margin: 0 auto;
        margin-top: 8%;
        margin-left: 13%;
        color: black;
}

#Findknap {
        width: 25%;
        margin: 0 auto;
        margin-top: 27%;
        margin-left: 24%;
        color: black;        
}

button {
    background-color: #fff;
    color: black;
    opacity: 75%;
    font-size: 16px;
    padding: 30px;
    display: inline-block;
    border-radius: 30px;
    width: 49%;
    cursor: pointer;
    font-weight: bold;
}

h2 {
    font-family: courier;
    text-align: center;
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

footer {
    text-align: center;
    background-color: #000;
    opacity: 65%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 70px
}